// Place all the styles related to the customer/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.color {
	background-color: #FFFAFA;
}


.pic_frame {
      display: inline-block;
      text-align: center;
}

.top-image {
  width: 100%;
　height: 100%;
}

.font-layout {
  font-family: 'Noto Sans JP', sans-serif;
  color: #DEB887;
}