// Place all the styles related to the customer/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-box {
  display: flex;
  flex-wrap: wrap;
}
.row {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.show-image {
   width: 70%;
  max-width: 100%;
  height: 70%;
}

.index-image {
  width: 100%;
  max-width: 100%;
  height: 70%;
}