  <div style="position: relative; display:inline-block; margin-left: 80px;">
    <%= image_tag 'cupcake-279523_1280.jpg',class:"image" %>
    <div style="position: absolute;top: 50px; right: 30%; text-align: center; ">
      <h4>
       <div class="font-family: 'Noto Sans JP', sans-serif;">
      ご注文ありがとうございました。<br>
      またのお買い上げ、お待ちしております。
       </div>
      </h4>
    </div>
  </div>
</div>