<div class="row login-row">
    <div class="col-xs-9">
        <h2>商品一覧 （全XX件）＃要編集</h2>
        <% @items.each do |item| %>
            <div class="product-box">
                <table class="table">
                    <tr>
                        <th><%= link_to item_path(item) do %>
                          <h1>アタッチメントの画像挿入の記述</h1>
                            <% end %>
                        </th>
                    </tr>
                    <tr>
                        <th><%= link_to item.name, item_path(item) %></th>
                    </tr>
                    <tr>
                        <th>￥<%= (item.price * 1.1).to_i %></th>
                    </tr>
                </table>
            </div>
        <% end %>
    </div>
</div>