// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-image {
   width: 70%;
  max-width: 100%;
  height: 70%;
}