<footer class="text-white text-center">
  <div class="container mt-5">
      <div class="mx-auto">
        <p class="pt-3" style="font-size:15px;">
          <%= link_to "お問い合わせ", root_path,class: "text-white" %>
          |
          <%= link_to "ご利用案内", root_path,class: "text-white" %>
          |
          <%= link_to "プライバシーポリシー", root_path,class: "text-white" %>
          |
          <%= link_to "特定商取引法に基づく表記", root_path,class: "text-white" %>
        </p>
        <p style="font-size:12px;">Copyright ©naganocake All Rights Reserved.</p>
      </div>
  </div>
</footer>